    A. Three datasets. During this week, you are asked to extend the application to support the 
 x      display,
 x      creation,
        and editing of a minimum of three datasets:

 x      To Do Items (with a minimum of one user-entered field)
 x      Events (with a minimum of two user-entered fields)
 x      Contacts (with a minimum of four user-entered fields)
    B. Data relationships. You are also asked to conform the data model approach that all of the datasets use, choosing from the following architectural patterns:
        Single Firestore collection for each user, with a sub-collection for each dataset (to-dos, events, contacts). Or instead of using sub-collections, include a "type" field in each document that identifies the dataset. In this architecture, the collection ID is set to match the user ID, establishing a relationship between users and collections.
x       Separate Firestore collection for each dataset (to-dos, events, contacts), with each document containing a field set to match the user ID, establishing a relationship between users and documents.
    C. Full CRUD support. Your final full-stack app must support all four common data operations for each document in the Firestore database. These data operations include:

x       Create: user must have the ability to create new documents in each dataset.
x       Retrieve: application must retrieve and display documents in each dataset.
x       Update: user must have the ability to edit the fields of each existing document.
x       Delete: user must have the ability to delete individual documents.
x   D. Responsive and accessible user interface. You are asked to more fully utilize the
x      Chakra UI React component library to implement a consistent user interface for your
       entire full-stack application that is both responsive and accessible.

x   E.  Re-factor app to ensure security of Firebase secrets. The original v9 tutorial left the Firebase credentials
        embedded in a project file that was managed by git and therefore checked into the GitHub repository. This is
        not a secure practice. It is important to conceal and protect the Firebase credentials, which should be stored
        in a file that is not be part of the git repository.

x   F. Work locally. Use a local development environment to develop your creation.

x      Manage your application's code using a GitHub repository and git from your workspace shell's command-line interface.
       Copy all project files once completed to your team Repl.it workspace as well.

x   G. Deploy finished app to Vercel. The finished app should be deployed to Vercel.

x   H. USE chakra NAVBAR